* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --corFonte: #1c1c1c;
  --corSelecoes: #dcdcdc;
}

nav label,
input,
button {
  cursor: pointer;
}

.senha span {
  display: block;
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  animation: animando-copia 0.2s ease;
  background: #7ef3c6;
}

@keyframes animando-copia {
  0% {
    opacity: 0;
  }
  50% {
    right: 10px;
    width: 100%;
  }
}

.config-senha input[type="range"] {
  display: inline-block;
  margin: 0 0 0 -13px;
}

.config-senha .movendo-input {
  animation: movendo-range-input 0.3s ease-out forwards;
}

@keyframes movendo-range-input {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(12px);
  }
}

.config-senha:has(label) label {
  opacity: 0;
  color: #360336;
}

p #personalizar {
  display: none;
}

.caixa-lista #icone {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 25px;
  height: 25px;
  background: url(/image/seta-direita.png) no-repeat center;
  background-size: contain;
  z-index: 100;
}

.caixa-lista #personalizar:checked ~ #icone {
  transition: all 0.5s;
  transform: rotate(90deg);
}

ul {
  opacity: 0;
  visibility: hidden;
}

section ul:not(.ativando-pesonalização) {
  height: 20px;
}

.ativando-pesonalização {
  height: 100%;
  opacity: 1;
  visibility: visible;
  visibility: auto;
  transition: opacity 1s, height 1s;
}

@media screen and (max-width: 750px) {
  section {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    width: 19.75rem;
    margin: 0 auto;
    padding: 5px;
  }

  .senha label {
    font-size: 25px;
    color: var(--corFonte);
  }

  .senha #copiar {
    width: 30px;
    float: right;
    cursor: pointer;
    visibility: hidden;
    transition: visibility 1s;
    background: var(--corSelecoes);
  }

  .caixa-lista span {
    font-size: 25px;
    color: var(--corFonte);
  }

  .quantidade-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 500;
  }

  .quantidade-input input {
    width: 200px;
    accent-color: #360336;
  }

  .senha,
  .botoes {
    width: 100%;
    grid-column: 1 / -1;
    text-align: center;
    border: 2px solid #dcdcdc;
    background: rgb(224, 143, 187);
    background-image: linear-gradient(
      30deg,
      rgb(224, 143, 187),
      rgb(211, 70, 209),
      rgb(111, 64, 207)
    );
    box-shadow: 0 0 2px 1px #5f059b;
    border-radius: 5px;
  }

  .caixa-lista {
    width: 100%;
    margin: 5px 0;
    grid-column: 1 / -1;
    background: rgb(224, 143, 187);
    background-image: linear-gradient(
      30deg,
      rgb(224, 143, 187),
      rgb(211, 70, 209),
      rgb(111, 64, 207)
    );
    border: 2px solid #dcdcdc;
    box-shadow: 0 0 2px 1px #5f059b;
    border-radius: 5px;
  }

  .config-senha {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: larger;
    line-height: -10px;
    margin: 5px 0;
  }

  .caixa-lista p {
    text-align: center;
  }

  .config-senha .box {
    display: inline-block;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 3px solid rgb(229, 228, 228);
    margin: 0px 0 0 50px;
    border-radius: 50%;
  }

  .box:checked::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(2px, 2px);
    transition: all 0.5s;
    background: #360336;
  }

  .box + span {
    display: inline-block;
    transform: translateY(-5px);
    margin: 0 0 0 5px;
    font-size: 20px;
  }

  .botoes {
    padding: 5px 0;
  }

 .botoes button{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(rgb(255, 210, 254) 0 0) padding-box,
      linear-gradient(to right, #9c20aa, #fb3570) border-box;
    color: #313149;
    padding: 5px 15px;
    border: 3px solid transparent;
    border-radius: 5px;
    display: inline-block;
  }
}
